<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
</head>
  
<body>
    <h1>Here are the Quotes!</h1>
    <% for (var x in arr) { %>
        <h4>"<%= arr[x].message %>"</h4>
        <h3>-<%= arr[x].name %> at <%=arr[x].updatedAt%></h3>
        <hr>
    <% } %>
    <a href="/"> Add another quote</a>
</body>
</html>