<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/login">
        Email:<input type="email" name="email">
        Password: <input type="password" name="Password">
        <input type="submit" value="Login">
</form>
    <a href="/registration"> registration </a>
</body>
</html>