<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
            <h4>Registration</h4>
            <form action="/registration" method="POST">
                <div>
                    <label>First Name</label>
                    <input type="text" name="first_name">
                </div>
                <div>
                    <label>Last Name</label>
                    <input type="text" name="last_name">
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label>Birthday</label>
                    Day:<input type="number" name="day">
                    Month:<input type="number" name="month">
                    Year:<input type="number" name="year">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" name="password">
                </div>
                <input type="submit" value="register">
            </form>
       
</body>
</html>